<%- include("partials/header") -%>

<div class="big-img">
  <img class="img-fluid" src="/img/about.jpg" alt="aboutImg">
</div>

<div class="content-on-image">
  <h1>About me!</h1>
  <p><%= aboutContent %></p>
</div>

<div class="container-fluid" id="post">


  <div class="row me-0 ms-0">
    <div class="col-lg-4 col-sm-12 intro">
      <div class="row">
        <h2>Hi! I'm Aakash Pachchigar.</h2>
      </div>
      <div class="row justify-content-center ">
        <img src="img/myself.jpg" class="rounded-circle" alt="myphoto">
      </div>
    </div>
    <div class="col-lg-8 col-sm-12 mt-5">
      <div class="row mt-3 mb-4">
        <h4>Who am I ?</h4>
        <p class="fst-italic">
          I am a B.Tech(Information Technology) under-graduate student from India.
          Since, some months I started writing blogs.
        </p>
        <hr>
      </div>
      <div class="row mt-3 mb-4">
        <h4>What you get here ?</h4>
        <p class="fst-italic">
          As being keen interest in reading blogs I decided why not to start write them &
          express my own thoughs & point of view on limelight topics.
          Here, you will find blogs on recent incidents, new technology trends,
          spiritual talks and on personal well-being. Hope you like to explore through my blog site !
        </p>
        <hr>
      </div>
      <div class="row mt-3 mb-0">
        <h4>What is my mission ?</h4>
        <p class="fst-italic">
          As being a new to blogging right now I am now only expressing my throughs & views in my blogs.
          My mission is to develop a blogging site through which people can express their throughs & views on
          a topic they want, express their stories to inspire other people and to provide
          knowledge of their field & topics which are familiar to them. I want my blog site to be the dominant platform for this.
          Hope you like my mission & consider it in direction of mankind !
        </p>
        <hr>
      </div>
    </div>
  </div>

<div/>

<%- include("partials/footer") -%>
