<%- include("partials/header") -%>

<div class="big-img">
  <img class="img-fluid" src="/img/contact.jpg" alt="contactImg">
</div>

<div class="content-on-image">
  <h1>Get in touch !</h1>
  <p><%= contactContent %></p>
</div>

<div class="container-fluid" id="post">

<div/>

<%- include("partials/footer") -%>
