<%- include("partials/header") -%>

<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <span class="display-3 d-block">Error 401 : Unauthorized</span>
        <div class="mb-4 lead">Sorry, your request could not be processed.</div>
        <a href="/login" class="btn btn-link">Back to Login</a>
      </div>
    </div>
  </div>
</div>

</body>
</html>
