/* .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
} */
body{
  text-align: center;
}
hr{
  margin-top: 50px;
  border-style: none;
  border-top-style: dashed;
  border-color: black;
  border-width: 4px;
  width: 100%;
}
textarea{
  resize: none;
}

/* For navbar */
.navbar-header{
  font-family: 'Pacifico', cursive;
}
.navbar {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 3%;
    background-color: #808080;
    font-size: 13px;
    letter-spacing: 3px;
}
.navbar-nav  li a:hover {
    color:  #d9d9d9 !important;
}
.navbar-nav  li a{
    color: #fff;
}

/* For background-image on all routes */
.big-img {
  position: absolute;
  width: 100%;
  opacity: 0.6;
}
.content-on-image{
  position: relative;
  z-index: 1;
  top: 250px;
}
.content-on-image h1{
  line-height: 2;
  font-family: sans-serif serif;
}
.content-on-image p{
  font-style: italic;
}

/* Getting data all post */
#post{
  background-color: #fff;
  position: relative;
  margin-top: 40%;
  width: 100%;
  padding: 0px;
}
#post h2{
  line-height: 3;
  font-weight: bold;
}
/* For date & name of each post */
#nameNdate{
  color: #808080;
  font-family: serif;
  font-style: italic;
}
/* New post to create */
#compose{
  background-color: #fff;
  position: relative;
  margin-top: 40%;
  width: 100%;
  padding: 0px;
  text-align: left;
}

/* In about us, for personal name & photo */
.intro h2{
  font-family: fantasy;
}
.intro img{
  width:70%;
  height:70%;
}

/* For footer */
#foot{
  padding : 0px;
}
.footer {
	position: relative;
	text-align: center;
	bottom: 0;
	width: 100%;
	background-color: #00141a;
  margin-top: 5%;
  padding: 30px;
}

/* For footer icons */
.footer a{
  padding: 10px;
  font-size: 20px;
  color: #fff;
}
.footer a:hover{
  color: blue;
}

/* For footer copyright */
.footer p {
	margin: 20px auto -2px;
  padding-top: 20px;
	font-size: 12px;
  color: #adb5bd;
}
