<div class="container-fluid" id="foot">
  <div class="footer">

    <a class="footer-link" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
    <a class="footer-link" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
    <a class="footer-link" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a class="footer-link" href="https://www.gmail.com/"><i class="fas fa-envelope"></i></a>
    <p>&copy; Copyright by Daily Blog <%= new Date().getFullYear() %></p>
  </div>
</div>

</body>

</html>
